[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-resized = "*"
django-tinymce = "*"
django-hitcount = "*"
django-taggit = "*"
pillow = "*"

[dev-packages]

[requires]
python_version = "3.7"
