{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="subforum">
            <div class="subforum-title">
                <h1>Informações Gerais</h1>
            </div>

            {% for forum in forums %}
            <div class="subforum-row">
                <div class="subforum-icon subforum-column center">
                    <i class="fa fa-car" aria-hidden="true"></i>

                </div>
                <div class="subforum-description subforum-column">
                    <h1><a href="{{forum.get_url}}">{{forum.title}}</a></h1>
                    <p>Descrição Conteudo:{{forum.description}}</p>
                </div>
                <div class="subforum-stats subforum-column center">
                    <span>{{forum.num_posts}} Posts | 15 Topics</span>
                </div>
                <div class="subforum-info subforum-column">
                    <b><a href="{{forum.last_post.get_url}}"
                        >Last post</a></b> by <a href="">{{forum.last_post.user.fullname|title}}</a> 
                    <br>on <small>{{forum.last_post.date|date}}</small>
                </div>
            </div>
            {% endfor %}
        </div>
        <!--More-->
       

           
        
        <!--More-->
    </div>
    <!--Forum Info-->
    <div class="forum-info">
        <div class="chart">
            Meu Form Stats &nbsp;<i class="fa fa-bar-chart"></i>
        </div>
        <div>
            <span>Último post: <b><a href="{{last_post.get_url}}">
                {{last_post.title}}</a></b> em {{last_post.date|date}} 
                Por <a href="">{{last_post.user.fullname|title}}</a></span>.<br>
            <span>Check <a href="{% url 'latest_posts' %}"
                >the latest posts</a> .</span><br>
        </div>
    </div>
    

    <script src="main.js"></script>
{% endblock content %}